

<!-- Header -->
	<header id="head">
		
		<div class="container" id="cont">
			<img class="mySlides" src="assets/images/bgheader.jpg">
			<img class="mySlides" src="assets/images/bgheader2.jpg">
			<img class="mySlides" src="assets/images/bgheader3.jpg">
			<img class="mySlides" src="assets/images/bgheader4.jpg">
			<div class="row" id="textrow">
				<h1 class="lead">PASSIONNANT, TOUJOURS DU NOUVEAU, GRATUIT</h1>
				<p class="tagline">MusicAll: Parce que tout ce dont vous avez besoin c'est de la <a href="">musique</a></p>
				<p><a class="btn btn-default btn-lg" href="?section=about" role="button">A PROPOS</a> <a class="btn btn-action btn-lg" href="#login1" role="button">INSCRIPTION</a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->

<!--<a href="?section=form_artist">Ajouter un artiste</a>
<a href="?section=form_album">Ajouter un album</a>
<a href="?section=list_artist">Voir la liste des artistes</a>
<a href="?section=list_album">Voir la liste des albums</a>
<a href="?section=list_categories">Voir la liste des categories</a>
<a href="?section=list_concerts">Voir la liste des concerts</a> <br />
<?php
echo "<form action=\"?\" method=\"get\"> 
	<input type='hidden' name='section' value='chillpill'/>

	<INPUT TYPE=\"submit\" VALUE=\"Chill pill\" name=\"takepill\">

    </form>";
?>-->


<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Découvrez du nouveau contenu</h2>
		<p class="text-muted">
			Cliquez simplement sur Découvrir là haut et attachez votre ceinture !
		</p>
	</div>
	<!-- /Intro-->
		
	

	<!-- container -->
	<div class="container">

		<div class="jumbotron top-space">
			<h4>Vous ne connaissez peut-être pas encore MusicAll, et bien, bonne nouvelle pour vous, cela fera bientôt partie de vos favoris immanquables ! </h4>
			<p class="text-right"><a href="?section=chillpill" class="btn btn-primary btn-large"> Prendre une chill pill »</a></p>
     		<p class="text-right"><a href="?section=about" class="btn btn-primary btn-large">En apprendre plus à propos de MusicAll »</a></p>
  		</div>

		<h2 class="text-center top-space">Foire Aux Questions</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3>Qu'est-ce qui rend MusicAll meilleur que les autres ? </h3>
				<p>En fait, nous ne prétendons pas être meilleurs, nous prétendons par contre travailler dur pour rendre votre expérience inouabliable et ça complètement gratuit !</p>
			</div>
			<div class="col-sm-6">
				<h3>Comment ça marche ?</h3>
				<p>
					Cliquez simplement sur Découvrir dans la barre de navigation en haut, vous pouvez naviguer dans plusieurs listes sur les artistes, albums, catégories et évènements. Vous pouvez utilisez la fonction de recherche pour chercher ce dont vous avez besoin. Amusez-vous !</p>
			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				<h3>Est-ce que le site sera amélioré ?</h3>
				<p>
					Nous travaillons sur de nombreuses améliorations, sur un lecteur web simple à utiliser, nous travaillons aussi sur l'application mobile. Soyez patients et profitez ! 
				</p>
			</div>
			<div class="col-sm-6">
				<h3>Je suis un artiste et je ne me vois pas dans la liste.</h3>
				<p>Inscrivez-vous et ajoutez un artiste ou un album via les différentes listes.</p>
			</div>
		</div> <!-- /row -->

		

</div>	<!-- /container -->
	
	<!-- Social links. @TODO: replace by link/instructions in template -->
	<section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				<!-- AddThis Button END -->
			</div>
		</div>
	</section>
	<!-- /social links -->







